<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}'s watchList</title>
</head>
<body>
<a href="{{ url_for('index',name=user.username) }}">&larr; Return </a> Tag: {{ tag }}
<h2>{{ user.username }}</h2>
{% if user.bio %}
    <i>{{ user.bio }}</i>
{% else %}
    <i>This User has not provided a bio.</i>
{% endif %}
<h5>{{ user.username }}'s watchList ({{ movies|length }}):</h5>
<ul>
    {% for movie in movies %}
    <li>{{ movie.name }} - {{ movie.year }}</li>
    {% endfor %}
</ul>
</body>
</html>