<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全选测试</title>

</head>
<body style="text-align:center;">
<table border = 1 align="center">
            <tr>
                <td> <input type="checkbox" name="user"> </td>
                <td> 测试1 </td>
            </tr>
            <tr>
                <td> <input type="checkbox" name="user"></td>
                <td> 测试2 </td>
            </tr>
             <tr>
                <td> <input type="checkbox" name="user"> </td>
                <td>  测试3 </td>
            </tr>
             <tr>
                <td> <input type="checkbox" name="checkall" id ='checkall'> </td>
                <td>  <label id="txt">全选</label> </td>
            </tr>
</table>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
<script>
     $(function(){
     $('#checkall').click(function () {
         if($('#checkall').is(':checked')){
             console.log('全选')
            $("input[name='user']").each(function() {
            $(this).prop("checked", true);});
              $('#txt').text('取消')
         }if(!$('#checkall').is(':checked')) {
             console.log('取消全选')
             $("input[name='user']").each(function() {
            $(this).prop("checked", false);});
             $('#txt').text('全选')
         }
         });
     })

</script>

</body>
</html>
