<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章列表显示</title>

</head>
<body style="text-align:center;">
<table border = 1 align="center">
<tr>
    <th>id</th>
    <th>count</th>
    <th>name</th>
    <th>pinyinFull</th>
    <th>pinyinShort</th>
</tr>
{% for data in results %}
<tr>
<td>{{ data.id }}</td>
<td>{{ data.count }}</td>
<td>{{ data.name }}</td>
<td>{{ data.pinyinFull }}</td>
<td>{{ data.pinyinShort }}</td>
</tr>
{% endfor %}
</table>
当前是第{{ cur_page }}页
<br/>
一共有{{ page_count }}页
<br/>
{% if cur_page > 0 %}
    <a href="/city/listcity/{{ cur_page-1 }}"><label> 上一页</label> </a>
   {% else %}
   <label>首页</label>
 {% endif %}
{% for i in page_list %}
    {% if i==cur_page %}
     {{ i + 1 }}
    {% else %}
    <a href="/city/listcity/{{ i }}">{{ i + 1 }}</a>
    {% endif %}
{% endfor %}
{% if cur_page < page_count %}
    <a href="/city/listcity/{{ cur_page + 1 }}"><label>下一页<label></a>
   {% else %}
    <label>尾页</label> 
 {% endif %}
</body>
</html>
