<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//static.qiushibaike.com/css/dist/touch/v3/index.min.css?v=02e16a19ad51e7421c94789fee8e884f">
    <meta charset="UTF-8">
    <title>文章列表显示</title>
</head>
<body style="text-align:center;">
<table border = 1>
<tr>
    <th>id</th>
    <th>title</th>
    <th>content</th>
</tr>
{% for data in results %}
<tr>
<td>{{ data.id }}</td>
<td>
<h2>
{{ data.title }}
</h2>
</td>
<td>{{ data.content }}</td>
    </tr>
{% endfor %}
</table>
当前是第{{ cur_page }}页
<br/>
一共有{{ page_count }}页
<br/>
{% if cur_page > 0 %}
    <a href="/showcontents/{{ cur_page-1 }}"><p>上一页</p></a>
   {% else %}
   <label>首页</label>
 {% endif %}
{% for i in page_list %}
    {% if i==cur_page %}
     {{ i + 1 }}
    {% else %}
    <a href="/showcontents/{{ i }}">{{ i + 1 }}</a>
    {% endif %}
{% endfor %}
{% if cur_page < page_count %}
    <a href="/showcontents/{{ cur_page + 1 }}"><p>下一页</p></a>
   {% else %}
    <label>尾页</label>
 {% endif %}
</body>
</html>
