<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' ) }}">
        {% endblock %}
    <meta charset="UTF-8">
    <title>项目首页地址</title>
</head>
<body style="text-align:center;">
<h1>欢迎进入我的第一个项目</h1>
  <h2>欢迎：{{ username }}</h2>
  <h2><a href="/loginout">退出</a></h2>

<h2><a href="/student/0">学生表操作</a></h2>
<h2><a href="/city/index">分页实现项目</a></h2>
</body>
</html>
