<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>城市列表页面</title>
</head>
<body style="text-align:center;">
<table border = 1 align="center">
         {% for data in results %}
            <tr>
               <td> {{ data.s_id }} </td>
               <td> {{ data.s_name}} </td>
                <td> {{ data.s_age}} </td>
             <td> <a href="/delete/{{ data.s_id }}">删除</a> </td>
             <td> <a href="/show/{{ data.s_id }}">修改</a> </td>
            </tr>
         {% endfor %}
</table>
<a href="/student">增加一条数据</a>
</body>
</html>
