<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录页面</title>
</head>
<body style="text-align:center;">
<h1>用户登录页面</h1>
<form action = "/login" method = "post">
         <p>用户名:</p>
         <p><input type = "text" name = "username"/></p>
      <p>登录密码:</p>
         <p><input type = "password" name = "password"/></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
{%if error != None %}
   <h2>{{ error }}</h2>
{% endif %}
</body>
</html>
