<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分页显示学生表</title>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>

<style type="text/css">
    .pc {
    width: 34px;
    height: 34px;
    border: 1px solid #e1e2e3;
    cursor: pointer;
}

</style>
</head>
<body style="text-align:center;">
<table border = 1 align="center">
<tr>

    <th>多选</th>
    <th>id</th>
    <th>name</th>
    <th>age</th>
    <th>删除</th>
    <th>修改</th>
</tr>
{% for data in results %}
<tr>
<td><input type="checkbox" name="checkstu" value="{{ data.s_id }}" /></td>
<td>{{ data.s_id }}</td>
<td>{{ data.s_name }}</td>
<td>{{ data.s_age }}</td>
{#<td> <a href="/delete/{{ data.s_id }}">删除</a> </td>#}
<td id="{{ data.s_id }}"> <button onclick="window.del({{ data.s_id }});">删除</button> </td>
<td> <a href="/show/{{ data.s_id }}?cur_page={{ cur_page }}">修改</a> </td>
</tr>
{% endfor %}
<tr>
    <td colspan="1"><input type="checkbox" name="checkall" id ='checkall'></td>
    <td colspan="2"><label id="checktxt">全选</label></td>
    <td colspan="3"><button onclick="window.batchdel();">批量删除</button></td>
</tr>
</table>
当前是第{{ cur_page + 1 }}页
<br/>
{#上一页和首页的显示#}
{% if cur_page > 0 %}
    <a href="/student/{{ cur_page-1 }}"><label> 上一页</label> </a>
   {% else %}
   <label>首页</label>
 {% endif %}

{#循环列表页面显示#}
{% if page_count < 10 %}
    {% for i in range(page_count) %}
         <span class="pc">
        {% if i==cur_page %}
         {{ i + 1 }}
        {% else %}
        <a href="/student/{{ i }}">{{ i + 1 }}</a>
        {% endif %}
         </span>
    {% endfor %}

{% elif cur_page > 3 and cur_page < page_count - 3 %}
    {% for i in range(cur_page - 4, cur_page + 5) %}
    <span class="pc">
    {% if i==cur_page %}
    {{ i + 1 }}
    {% else %}
    <a href="/student/{{ i }}">{{ i + 1 }}</a>
    {% endif %}
    </span>
    {% endfor %}

{% elif cur_page < 4 and page_count > 9 %}
  {% for i in range(10) %}
       <span class="pc">
    {% if i==cur_page %}
    {{ i + 1 }}
    {% else %}
    <a href="/student/{{ i }}">{{ i + 1 }}</a>
    {% endif %}
    {% endfor %}
{% else %}
   {% for i in range(cur_page - 4, page_count + 1) %}
    {% if i==cur_page %}
    {{ i + 1 }}
    {% else %}
    <a href="/student/{{ i }}">{{ i + 1 }}</a>
    {% endif %}
        </span>
    {% endfor %}
{% endif %}

{# 下一页和尾页的显示 #}
{% if cur_page < page_count %}
    <a href="/student/{{ cur_page + 1 }}"><label>下一页<label></a>
   {% else %}
    <label>尾页</label> 
 {% endif %}
<p>一共有{{ page_count + 1}}页</p>
<script>
{#批量删除#}
     window.batchdel =function () {
         if (confirm("确认批量删除吗？")==true) {
             check_obj = document.getElementsByName('checkstu')
             check_list = []
             for (k in check_obj) {
                 if (check_obj[k].checked)
                     check_list.push(check_obj[k].value)
             }
             console.log('批量删除' + check_list)
             $.post("/batchdel", {"ids": check_list}, function (data) {
                 if (data == 'success') {
                     for (id in check_list) {
                         tag = check_list[id]
                         var tr = document.getElementById(tag);
                         tr.closest('tr').remove();
                     }
                      if(document.getElementsByTagName("tr").length==2){
                        location.reload()
                        }
                 }
             });

         }else {return false;}
     }
    {# 单个删除#}
    window.del =function(id) {
	var msg = "是否删除？";
	if (confirm(msg)==true){
	    var data = {stuid:id};
		$.ajax({
		    cache: true,
		    type: "post",
		    url:"/delete",
		    data:data,// 你的formid
		    async: false,
		    error: function(request) {
		        alert("Connection error");
		    },
		    success: function(result) {
		    		if(result=="success"){
		    			var tr = document.getElementById(id);
		    			tr.closest('tr').remove();
		    			}
		    		else{alert(result);}}
		});
	}
    else{return false;}}
</script>
<script>
     $(function(){
     $('#checkall').click(function () {
         if($('#checkall').is(':checked')){
             console.log('全选')
            $("input[name='checkstu']").prop("checked",true);
             $('#checktxt').text('取消全选')
         }if(!$('#checkall').is(':checked')) {
             console.log('取消全选')
             $("input[name='checkstu']").prop("checked",false);
             $('#checktxt').text('全选')
         }
         });
     })

</script>


</body>
</html>
