<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新用户信息</title>
</head>
<body style="text-align:center;">
 <form action = "/update" method = "post">
        <p><input type = "hidden" name = "cur_page" value="{{ cur_page }}"/></p>
        <p><input type = "hidden" name = "s_id" value="{{ data.s_id }}"/></p>
         <p>Enter Name:</p>
         <p><input type = "text" name = "s_name" value="{{ data.s_name }}"/></p>
      <p>Enter Age:</p>
         <p><input type = "text" name = "s_age" value="{{ data.s_age }}"/></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>

</body>
</html>

