<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件操作</title>
</head>
<body style="text-align:center;">

{% if img_url %}
<img src="{{ img_url }}">
{% endif %}
<form method="post" enctype="multipart/form-data">
    <input type="file" name="photo" /><br />
    <input type="submit" value="上传" />
</form>

</body>
</html>
